.posterImage{
    height: 600px;
}

.posterImage > img {
    margin: auto;
    display: block;
    width: 100%;
}

.posterImage__overlay {
    position: absolute;
    padding: 5rem;
    bottom: 0px;
    height: 70%;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-start;
    background-image: linear-gradient(rgb(0,0,0,0), rgb(0,0,0,1));
    opacity: 1;
    transition: opacity .3s;
}   

.posterImage__overlay:hover {
    opacity: 1;
}

.posterImage__title {
    font-weight: 900;
    font-size: 4rem;
    margin-bottom: 0.4rem;
    text-align: left;
}

.posterImage__runtime {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.posterImage__rating {
    margin-left: 3rem;
}
@media screen and (max-width: 768px) {
    .posterImage__title {
        font-weight: 700;
        font-size: 1rem;
        margin-bottom: 0.1rem;
        text-align: left;
        margin-left: 2rem;
    }
    .posterImage__overlay {
        position: absolute;
        padding: 2rem;
        bottom: 0px;
        height: 70%;
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: flex-end;
        align-items: flex-start;
        background-image: linear-gradient(rgb(0,0,0,0), rgb(0,0,0,1));
        opacity: 1;
        transition: opacity .3s;
    }  
    .posterImage__rating {
        margin-left: 2.5rem;
    }
    .posterImage__title {
        font-weight: 100;
        font-size: 1.5rem;
        margin-bottom: 0.2rem;
        text-align: left;
    }
    .posterImage{
        height: 300px;
    }
    .posterImage__runtime {
        font-size: 1.2rem;
        margin-bottom: 1rem;
        margin-left: 2rem;
    }
}

@media screen and (max-width: 500px){
    .posterImage__title {
        font-weight: 700;
        font-size: 1rem;
        margin-bottom: 0.5rem;
        text-align: left;
    }
    .posterImage__overlay {
        position: absolute;
        padding: 2rem;
        bottom: 0px;
        height: 90%;
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: flex-end;
        align-items: flex-start;
        background-image: linear-gradient(rgb(0,0,0,0), rgb(0,0,0,1));
        opacity: 1;
        transition: opacity .3s;
    } 
    .posterImage{
        height: 250px;
    }
    .posterImage__runtime {
        font-size: 1rem;
        margin-bottom: 1rem;
    }
}
@media screen and (max-width: 400px){
    .posterImage__title {
        font-weight: 700;
        font-size: 1rem;
        margin-bottom: 1rem;
        text-align: left;
    }
    .posterImage__overlay {
        position: absolute;
        padding: 2rem;
        bottom: 0px;
        height: 80%;
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: flex-end;
        align-items: flex-start;
        background-image: linear-gradient(rgb(0,0,0,0), rgb(0,0,0,1));
        opacity: 1;
        transition: opacity .3s;
    } 
    .posterImage{
        height: 190px;
    }
    .posterImage__runtime {
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }
    .posterImage__title {
        margin-bottom: 0.3rem;
        text-align: left;
    }
}
@media screen and (max-width: 300px){
    .posterImage__overlay {
        position: absolute;
        padding: 0.6rem;
        bottom: 50px;
        height: 80%;
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: flex-end;
        align-items: flex-start;
        background-image: linear-gradient(rgb(0,0,0,0), rgb(0,0,0,1));
        opacity: 1;
        transition: opacity .3s;
    } 
    .posterImage{
        height: 215px;
    }
    .posterImage__title {
        margin-bottom: 0.3rem;
        text-align: left;
        margin-left: 3rem;
    }
    .posterImage__runtime {
        font-size: 1rem;
        margin-bottom: 1rem;
        margin-left: 3rem;
    }
    
}