/* index.css */
body.light {
    --background-color: white;
    --text-color: black;
  }
  
  body.dark {
    --background-color: #121212;
    --text-color: white;
  }
  
  body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
  }
  